/*!
 * KoalaOnline
 * Copyright 2016 Kasper Sundström
 */

/**
 * DECLARE CHARSET
 */
@charset 'utf-8';

/**
 * IMPORT FONTS
 * Change '|' in URL to '%7C' and '&' to '%26'
 * System font stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
 * Basic sans stack:  'Helvetica Neue', Helvetica, Arial, sans-serif;
 * Basic serif stack: Georgia, 'Times New Roman', Times, serif;
 * Basic mono stack:  Menlo, Monaco, Consolas, 'Courier New', monospace;
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/**
 * DECLARE NAMESPACES
 */
@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);
@namespace xlink url(http://www.w3.org/1999/xlink);

/**
 * CUSTOM STYLING
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(../img/bgtile.png);
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jumbotron {
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 2px #555;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: auto;
}

#logowrapper {
  width: 125px;
  height: auto;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  margin: 0 1em 0 0;
}

svg|g#cards {
  fill: white;
}

svg|path#topcard:hover {
  fill: #dff0d8;
}

svg|path#midcard:hover {
  fill: #fcf8e3;
}

svg|path#bottomcard:hover {
  fill: #f2dede;
}

@media print {
  #logowrapper {
    max-width: 72pt;
    -webkit-filter: none;
    filter: none;
  }
  svg|g#cards {
    fill: black;
  }
}

#brandwrapper {
  font-family: 'Lobster', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

h1 .small {
  color: inherit;
  font-size: 0.3em;
}

.mainandfooter {
  background-color: white;
  box-shadow: 0 2px 4px #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

main {
  padding: 30px 0 10px;
  margin-bottom: 45px;
}

.btn-group {
  margin-bottom: 20px;
}

.panel-body {
  font-weight: 600;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 5px 0;
}

footer p {
  margin-top: 10px;
}
